.aboutme-container{
    width: 100%;
    height: 100%;
    display: flex;
}
.aboutme-container .aboutme-txt-container{
    flex: 2;
}
.aboutme-container .aboutme-txt-container .aboutme-txt{
    height: 100%;
    padding: 30px;
}
.aboutme-container .aboutme-photo-cotainer{
    flex: 1;
}
.aboutme-container .aboutme-photo-cotainer .aboutme-photo{
    padding: 30px;
}
.aboutme-container .aboutme-photo-cotainer .aboutme-photo img{
    width: 100%;
}
.aboutme-container p{
    padding: 5px;
}


